{% load static %}
{%  load crispy_forms_tags %}
{% block content %}
<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cirkle </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="media/favicon.png">
    <link rel="stylesheet" href="{% static 'dependencies/bootstrap/css/bootstrap.min.css'%} ">
    <link rel="stylesheet" href="{% static 'dependencies/icofont/icofont.min.css'%}">
    <link rel="stylesheet" href="{% static 'dependencies/slick-carousel/css/slick.css'%}">
    <link rel="stylesheet" href="{% static 'dependencies/slick-carousel/css/slick-theme.css'%}">
    <link rel="stylesheet" href="{% static 'dependencies/magnific-popup/css/magnific-popup.css'%}">
    <link rel="stylesheet" href="{% static 'dependencies/sal.js/sal.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'dependencies/select2/css/select2.min.css'%}" type="text/css">
    <!-- Site Stylesheet -->
    <link rel="stylesheet" href="{% static 'assets/css/app.css'%}">
    <!-- Google Web Fonts -->
    <link href="{% static 'https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,400&display=swap'%}" rel="stylesheet">
</head>
<body class="bg-link-water">
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <a href="#wrapper" data-type="section-switch" class="scrollup">
        <i class="icofont-bubble-up"></i>
    </a>
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <div id="wrapper" class="wrapper">
        <!-- Top Header -->
         <header class="fixed-header">
            <div class="header-menu">
                <div class="navbar">
                    <div class="nav-item d-none d-sm-block">
                        <div class="header-logo">
                            <img src="{% static 'media/logo.png'%}" alt="Cirkle">
                        </div>
                    </div>
                    <div class="nav-item nav-top-menu">
                        <nav id="dropdown" class="template-main-menu">
                            <ul class="menu-content">
                                <li class="header-nav-item">
                                    <a href="{% url 'blog-about' %}" class="menu-link active">About</a>
                                </li>
                                <li class="header-nav-item">
                                    <a href="{% url 'blog-home' %}" class="menu-link active">Home</a>
                                </li>
                                <li class="header-nav-item">
                                    <a href="{% url 'products' %}" class="menu-link active">Products</a>
                                       
                                </li>
                                <li class="header-nav-item">
                                    <a href="{% url 'services' %}" class="menu-link active">Services</a>
                                  
                                </li>
                                
                            </ul>
                        </nav>
                    </div>
                    <div class="nav-item header-control">
                        <div class="inline-item d-none d-md-block">
                            <div class="input-group">
                                <form class="d-flex" method="POST" action="{% url 'search-venues' %}">
                                {% csrf_token %}
                                <input type="search" placeholder="Search here......." class="form-control" area-label="Search" name="searched">
                                <div class="input-group-append">
                                    <button type="search" class="submit-btn">
                                        <i class="icofont-search"></i>
                                    </button>
                                </div>
                             </form>
                            </div>
                        </div>
                    </div>
                    <div class="nav-item nav-top-menu">
                        <nav id="dropdown" class="template-main-menu">
                       <ul class="menu-content">
                    {% if user.is_authenticated %}

                                <li class="header-nav-item">
                                    <a href="{% url 'inbox' %}" class="menu-link active"><i class="icofont-speech-comments"></i> inbox {% if directs_count %} <span class="badge" style="background-color: red;">{{ directs_count }}</span>{% endif %}</a>
                                  
                                </li>
                                
                                <li class="header-nav-item">
                                    <a href="{% url 'profile' %}" class="menu-link active">Profile</a>
                                  
                                </li>
                                <li class="header-nav-item">
                                    <a href="{% url 'logout' %}" class="menu-link active">Logout</a>
                                  
                                </li>
                                {% else %}
                                 <li class="header-nav-item">
                                    <a href="{% url 'login' %}" class="menu-link active">Login</a>
                                  
                                </li>
                                 <li class="header-nav-item">
                                    <a href="{% url 'register' %}" class="menu-link active">Register</a>
                                  
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    <div class="inline-item">
                            <div class="dropdown dropdown-admin">
                           
                                    <span class="media">
                                        <span class="item-img">
                                            <a href="{% url 'profile' %}">
                                            <img src="{{ user.profile.image.url }}" alt="Chat" width="44" height="44" class="rounded-circle account-img">
                                           </a>
                                        </span>
                                        
                                    </span>
                               
                                
                            </div>
                        </div>
                </div>
            </div>
        </header>
        <!-- Sidebar Left -->
        
        <!-- Page Content -->
        <div class="page-content">

            <!--=====================================-->
            <!--=        Newsfeed  Area Start       =-->
            <!--=====================================-->
            <div class="container">
                <!-- Banner Area Start -->
                <div class="banner-user">
                    <div class="banner-content">
                        <div class="media">
                            <div class="item-img">
                                <img src="{{ user.profile.image.url }}" alt="User" width="115" height="115">
                            </div>
                            <div class="media-body">
                                <h3 class="item-title">{{ view.kwargs.username }}</h3>
                                
                                <ul class="item-social">
                                    <li><a href="#" class="bg-fb"><i class="icofont-facebook"></i></a></li>
                                    <li><a href="#" class="bg-twitter"><i class="icofont-twitter"></i></a></li>
                                    <li><a href="#" class="bg-dribble"><i class="icofont-dribbble"></i></a></li>
                                    <li><a href="#" class="bg-youtube"><i class="icofont-brand-youtube"></i></a></li>
                                    <li><a href="#" class="bg-behance"><i class="icofont-behance"></i></a></li>
                                </ul>
                                <ul class="user-meta">
                                  <li >
                                    <a href="{% url 'newconversation' view.kwargs.username %}"  class="btn btn-info" style="background-color: #4CAF50; ">Send a message!</a>
                                    
                                  </li>
                                  
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-box user-top-header">
                    <ul class="menu-list">
                        <li class="active"><a href="#">Add</a></li>
                        {% if user.is_authenticated and user.username == view.kwargs.username %} 
                        <li><a href="{% url 'add_product' %}">Product</a></li>
                        <li><a href="{% url 'add_service' %}">Service</a></li>
                        <li><a href="{% url 'post-create' %}">Post</a></li>
                        {% endif %}
                       
                        
                    </ul>
                </div>
                <!--<section class="section groups-popular">
                    <div class="container">
                        <div class="section-heading">
                            <h1>hi</h1>
                            <p>yhujkl</p>
                        </div>-->
                        <!--<div class="row gutters-15 justify-content-center">
                            <ul class="footer-top-image">
                            {% for prod in prods %}-->
                            <!--<div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="groups-box">
                                    <div class="">
                                        <a href="{% url 'productdetail' %}?id={{prod.id}}">
                                        <img src="{{prod.principal_image.url}}" width="150" height="150"></a>
                                    </div>
                                    <div class="item-content" >
                                        <h3 class="item-title"><a href="{% url 'productdetail' %}?id={{prod.id}}">{{prod.Title}}</a></h3>
                                        <div class="groups-member">{{prod.prix}}</div>
                                    </div>
                                </div>
                            </div>--><!--
                            <li data-sal="slide-up" data-sal-duration="500" data-sal-delay="400" class="sal-animate">
                                <img src="{{prod.principal_image.url}}" width="150" height="150">
                            </li>
                            {% endfor %}
                            </ul>
                        </div>
                        <div class="see-all-btn"></div>
                    </div>
                </section>-->

                <div class="row">

                    <div class="col-lg-8">
                        
                        {% for post in posts %}

                        <div class="block-box post-view">
                            <div class="post-header">
                                <div class="media">
                                    <div class="user-img">
                                        <img src="{{ post.author.profile.image.url }}" alt="Aahat" width="44" height="44">
                                    </div>
                                    <div class="media-body">
                                        <div class="user-title"><a href="#">{{ post.author }}</a></div>
                                        <ul class="entry-meta">
                                            <li class="meta-privacy"><i class="icofont-world"></i>Public</li>
                                            <li class="meta-time">{{ post.date_posted|date:"F d, Y" }}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="dropdown">
                                    <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                        ...
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="{% url 'post-update' post.id %}">Edit</a>
                                        <a class="dropdown-item" href="{% url 'post-delete' post.id %}">Delete</a>
                                    </div>
                                </div>
                            </div>
                            <div class="post-body">
                                 <p><a class="product-title" href="{% url 'post-detail' post.id %}">{{ post.title }}<i class="icofont-wink-smile"></i></a></p>
                                <div class="post-img">
                                    <p>{{ post.content }}</p>
                                </div>
                                <div class="post-meta-wrap">
                                    <div class="post-meta">
                                        <div class="post-reaction">
                                            <div class="reaction-icon">
                                                <img src="{% static 'media/figure/reaction_1.png'%}" alt="icon">
                                                
                                            </div>
                                            <div class="meta-text">{{ post.number_of_likes }} Like{{ post.number_of_likes|pluralize }}</div>
                                        </div>
                                    </div>
                                    <div class="post-meta">
                                        <div class="meta-text">{{ post.number_of_comments }} Comment{{ post.number_of_comments|pluralize }}</div>
                                        
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        {% endfor %}
                                
                        <div class="block-box load-more-btn">
                            <a href="#" class="item-btn"><i class="icofont-refresh"></i>Load More Posts</a>
                        </div>
                    </div>
                    <div class="col-lg-4 widget-block widget-break-lg">
                       <!-- <div class="widget widget-user-about">
                            <div class="widget-heading">
                                <h3 class="widget-title">About Me</h3>
                                
                            </div>
                            <div class="user-info">
                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <fieldset class="form-group">
                                        <legend class="border-bottom mb-4">Profile Info</legend>
                                        {{ u_form|crispy }}
                                        {{ p_form|crispy }}
                                    </fieldset>
                                    <div class="form-group">
                                    <button class="btn btn-outline-info" type="submit">Update</button>
                                    </div>
                                 </form>
                                <ul class="info-list">
                                   
                                    <li class="social-share"><span>Social:</span>
                                        <div class="social-icon">
                                            <a href="#"><i class="icofont-facebook"></i></a>
                                            <a href="#"><i class="icofont-twitter"></i></a>
                                            <a href="#"><i class="icofont-dribbble"></i></a>
                                            <a href="#"><i class="icofont-whatsapp"></i></a>
                                            <a href="#"><i class="icofont-instagram"></i></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>-->
                        
                        <div class="widget widget-comment">
                            <div class="widget-heading">
                                <h3 class="widget-title">Products</h3>
                                
                            </div>
                            {% for prod in prods %}
                            <div class="group-list">
                                <div class="media">
                                    <div class="item-img">
                                        <a href="{% url 'productdetail' %}?id={{prod.id}}">
                                            <img src="{{prod.principal_image.url}}" alt="post" width="80" height="100">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <div class="post-date">{{ prod.date_posted|date:"F d, Y" }}</div>
                                        
                                        <h4 class="item-title"><a href="{% url 'productdetail' %}?id={{prod.id}}">{{prod.Title}}</a></h4>
                                    </div>
                                </div>
                                
                            </div>
                            {% endfor %}
                        </div>
                        
                        <div class="widget widget-comment">
                            <div class="widget-heading">
                                <h3 class="widget-title">Services</h3>
                                
                            </div>
                            {% for service in services %}
                            <div class="group-list">
                                <div class="media">
                                    <div class="item-img">
                                        <a href="#">
                                            <img src="{{ service.image_service.url }}" width="80" height="100" alt="post">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <div class="post-date">{{ service.date_posted|date:"F d, Y" }}</div>
                                        <div class="post-date">{{ service.disponibilite }}</div>
                                        <h4 class="item-title"><a href="{% url 'servicedetail' %}?id={{service.id}}">{{ service.name_business }}</a></h4>
                                    </div>
                                </div>
                                
                            </div>
                            {% endfor %}
                        </div>
                        
                    </div>
                </div>
            </div>
            <!--=====================================-->
            <!--=        Footer Area Start          =-->
            <!--=====================================-->
            <section class="banner-newsletter">
                <ul class="section-cloud">
                    <li ><img src="{% static 'media/figure/cloud_1.png'%}"></li>
                    <li ><img src="{% static 'media/figure/cloud_2.png'%}"></li>
                    <li ><img src="{% static 'media/figure/cloud_2.png'%}"></li>
                    <li ><img src="{% static 'media/figure/cloud_1.png'%}"></li>
                </ul>
                <div class="container">
                    <ul class="section-shape">
                        <li><img src="{% static 'media/figure/shape_1.png'%}"></li>
                        <li><img src="{% static 'media/figure/shape_2.png'%}"></li>
                        <li><img src="{% static 'media/figure/shape_3.png'%}"></li>
                        <li><img src="{% static 'media/figure/shape_4.png'%}"></li>
                        <li><img src="{% static 'media/figure/shape_5.png'%}"></li>
                    </ul>
                </div>
            </section>
           <footer class="footer-wrap">
            
            <div class="main-footer">
                <div class="container">
                    <div class="row row-cols-lg-4 row-cols-sm-2 row-cols-1">
                        <div class="col">
                            <div class="footer-box">
                                <div class="footer-logo">
                                    <a href="{% url 'blog-home' %}"><img src="{% static 'media/logo_dark.png'%}" alt="Logo"></a>
                                </div>
                                <p>Dorem ipsum dolor sit amet consec adipisicing elit sed do eiusmod por incidiut labore et loreLorem ipsum kelly amieo dolorey.</p>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-lg-center">
                            <div class="footer-box">
                                <h3 class="footer-title">
                                    Important Links
                                </h3>
                                <div class="footer-link">
                                    <ul>
                                        <li><a href="{% url 'blog-home' %}">Home</a></li>
                                        <li><a href="{% url 'blog-about' %}">About us</a></li>
                                        <li><a href="{% url 'products' %}">Products</a></li>
                                        <li><a href="{% url 'services' %}">Services</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-lg-center">
                            <div class="footer-box">
                                <h3 class="footer-title">
                                    Community
                                </h3>
                                <div class="footer-link">
                                    <ul>
                                        <li><a href="{% url 'blog-home' %}">NewsFeed</a></li>
                                        <li><a href="{% url 'profile' %}">Profile</a></li>
                                      
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-lg-center">
                            <div class="footer-box">
                                <h3 class="footer-title">
                                    Social Media 
                                </h3>
                                <div class="footer-link">
                                    <ul>
                                        <li><a href="https://www.facebook.com/">facebook</a></li>
                                        <li><a href="https://twitter.com/">twitter</a></li>
                                        <li><a href="https://www.instagram.com/">instagram</a></li>
                                        <li><a href="https://www.youtube.com/">Youtube</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="footer-copyright">Copy© cirkle 2021. All Rights Reserved</div>
            </div>
        </footer>


        </div>
        <!-- Chat Modal Here -->
        <div class="chat-conversion-box" id="chat-box-modal" tabindex="-1" aria-labelledby="chat-modal-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title" id="chat-modal-label">Fahim Rahman <span class="online"></span></h6>
                        <div class="action-icon">
                            <button class="chat-shrink"><i class="icofont-minus"></i></button>
                            <button type="button" class="close chat-close chat-open" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="modal-body">
                        <ul class="chat-conversion">
                            <li class="chat-others">
                                <div class="author-img">
                                    <img src="{% static 'media/figure/chat_12.jpg'%}" alt="Chat">
                                </div>
                                <div class="author-text">
                                    <span>How are you Fahim vai ? Tommorow office will be your last day of Bachelor life.</span>
                                </div>
                            </li>
                            <li class="chat-you">
                                <div class="author-img">
                                    <img src="{% static 'media/figure/chat_11.jpg'%}" alt="Chat">
                                </div>
                                <div class="author-text">
                                    <span>hmm That's great</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Write your text here.....">
                                <div class="chat-plus-icon"><i class="icofont-plus-circle"></i></div>
                                <div class="file-attach-icon">
                                    <a href="#"><i class="icofont-slightly-smile"></i></a>
                                    <a href="#"><i class="icofont-camera"></i></a>
                                    <a href="#"><i class="icofont-image"></i></a>
                                    <a href="#"><i class="icofont-mic"></i></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Jquery Js -->
 <!-- Jquery Js -->
    <script src="{% static 'dependencies/jquery/js/jquery.min.js' %}"></script>
    <script src="{% static 'dependencies/popper.js/js/popper.min.js' %}"></script>
    <script src="{% static 'dependencies/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'dependencies/imagesloaded/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'dependencies/isotope-layout/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'dependencies/slick-carousel/js/slick.min.js' %}"></script>
    <script src="{% static 'dependencies/sal.js/sal.js' %}"></script>
    <script src="{% static 'dependencies/magnific-popup/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'dependencies/bootstrap-validator/js/validator.min.js' %}"></script>
    <script src="{% static 'dependencies/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBtmXSwv4YmAKtcZyyad9W7D4AC08z0Rb4' %}"></script>

    <!-- Site Scripts -->
    <script src="{% static 'assets/js/app.js' %}"></script>
</body>

</html>
{% endblock content %}