{% load static %}
{%  load crispy_forms_tags %}
{% block content %}
<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cirkle | Inbox</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="media/favicon.png">
    <link rel="stylesheet" href="{% static 'dependencies/bootstrap/css/bootstrap.min.css'%} ">
    <link rel="stylesheet" href="{% static 'dependencies/icofont/icofont.min.css'%}">
    <link rel="stylesheet" href="{% static 'dependencies/slick-carousel/css/slick.css'%}">
    <link rel="stylesheet" href="{% static 'dependencies/slick-carousel/css/slick-theme.css'%}">
    <link rel="stylesheet" href="{% static 'dependencies/magnific-popup/css/magnific-popup.css'%}">
    <link rel="stylesheet" href="{% static 'dependencies/sal.js/sal.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'dependencies/select2/css/select2.min.css'%}" type="text/css">
    <!-- Site Stylesheet -->
    <link rel="stylesheet" href="{% static 'assets/css/app.css'%}">
    <!-- Google Web Fonts -->
    <link href="{% static 'https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,400&display=swap'%}" rel="stylesheet">
</head>
<body class="bg-link-water">
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <a href="#wrapper" data-type="section-switch" class="scrollup">
        <i class="icofont-bubble-up"></i>
    </a>
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <div id="wrapper" class="wrapper">
        <!-- Top Header -->
         <header class="fixed-header">
            <div class="header-menu">
                <div class="navbar">
                    <div class="nav-item d-none d-sm-block">
                        <div class="header-logo">
                            <img src="{% static 'media/logo.png'%}" alt="Cirkle">
                        </div>
                    </div>
                    <div class="nav-item nav-top-menu">
                        <nav id="dropdown" class="template-main-menu">
                            <ul class="menu-content">
                                <li class="header-nav-item">
                                    <a href="{% url 'blog-about' %}" class="menu-link active">About</a>
                                </li>
                                <li class="header-nav-item">
                                    <a href="{% url 'blog-home' %}" class="menu-link active">Home</a>
                                </li>
                                <li class="header-nav-item">
                                    <a href="{% url 'products' %}" class="menu-link active">Products</a>
                                       
                                </li>
                                <li class="header-nav-item">
                                    <a href="{% url 'services' %}" class="menu-link active">Services</a>
                                  
                                </li>
                                
                            </ul>
                        </nav>
                    </div>
                    <div class="nav-item header-control">
                        <div class="inline-item d-none d-md-block">
                            <div class="input-group">
                                <form class="d-flex" method="POST" action="{% url 'search-venues' %}">
                                {% csrf_token %}
                                <input type="search" placeholder="Search here......." class="form-control" area-label="Search" name="searched">
                                <div class="input-group-append">
                                    <button type="search" class="submit-btn">
                                        <i class="icofont-search"></i>
                                    </button>
                                </div>
                             </form>
                            </div>
                        </div>
                    </div>
                    <div class="nav-item nav-top-menu">
                        <nav id="dropdown" class="template-main-menu">
                       <ul class="menu-content">
                    {% if user.is_authenticated %}

                                <li class="header-nav-item">
                                    <a href="{% url 'inbox' %}" class="menu-link active"><i class="icofont-speech-comments"></i> inbox {% if directs_count %} <span class="badge" style="background-color: red;">{{ directs_count }}</span>{% endif %}</a>
                                  
                                </li>
                                
                                <li class="header-nav-item">
                                    <a href="{% url 'profile' %}" class="menu-link active">Profile</a>
                                  
                                </li>
                                <li class="header-nav-item">
                                    <a href="{% url 'logout' %}" class="menu-link active">Logout</a>
                                  
                                </li>
                                {% else %}
                                 <li class="header-nav-item">
                                    <a href="{% url 'login' %}" class="menu-link active">Login</a>
                                  
                                </li>
                                 <li class="header-nav-item">
                                    <a href="{% url 'register' %}" class="menu-link active">Register</a>
                                  
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    <div class="inline-item">
                            <div class="dropdown dropdown-admin">
                           
                                    <span class="media">
                                        <span class="item-img">
                                            <a href="{% url 'profile' %}">
                                            <img src="{{ user.profile.image.url }}" alt="Chat" width="44" height="44" class="rounded-circle account-img">
                                           </a>
                                        </span>
                                        
                                    </span>
                               
                                
                            </div>
                        </div>
                </div>
            </div>
        </header>
        
        <section class="banner-newsletter">
                <ul class="section-cloud">
                    <li>
                        <img src="{% static 'media/figure/cloud_1.png' %}" alt="shape">
                    </li>
                    <li>
                        <img src="{% static 'media/figure/cloud_2.png' %}" alt="shape">
                    </li>
                    <li>
                        <img src="{% static 'media/figure/cloud_2.png' %}" alt="shape">
                    </li>
                    <li>
                        <img src="{% static 'media/figure/cloud_1.png' %}" alt="shape">
                    </li>
                </ul>
                <div class="container">
                    <ul class="section-shape">
                        <li>
                        <img src="{% static 'media/figure/shape_1.png' %}" alt="shape">
                        </li>
                        <li>
                        <img src="{% static 'media/figure/shape_2.png' %}" alt="shape">
                        </li>
                        <li>
                        <img src="{% static 'media/figure/shape_3.png' %}" alt="shape">
                        </li>
                        <li>
                        <img src="{% static 'media/figure/shape_4.png' %}" alt="shape">
                        </li>
                        <li>
                        <img src="{% static 'media/figure/shape_5.png' %}" alt="shape">
                        </li>
                    </ul>
                </div>
            </section>
        
        <div class="page-content">

            <section class="contact-page">
              <!--<div class="map-area">
                <div>
                   <ul class="map-marker">
                <li><img src="{% static 'media/banner/marker_1.png'%}" alt="marker"></li>
                <li><img src="{% static 'media/banner/marker_2.png'%}" alt="marker"></li>
                <li><img src="{% static 'media/banner/marker_3.png'%}" alt="marker"></li>
                <li><img src="{% static 'media/banner/marker_4.png'%}" alt="marker"></li>
                <li><img src="{% static 'media/banner/marker_5.png'%}" alt="marker"></li>
                   </ul>
                </div>
                
              </div>-->
              <div class="contact-box-wrap">
                <div class="container">

                  <div class="contact-form">
                    <h2> Discussions</h2>
                    <div class="columns is-mobile row" style="background-color: white; padding: 20px;"> 

                  <div class="column is-one-quarter col">
                   
                  <aside class="menu">
                    
                  <ul style="overflow-y: scroll; height: 500px" class="menu-list">

                {% for message in messages %}
                <a class="{% if active_direct == message.user.username %}is-active{% endif %}" href="{% url 'directs' message.user.username %}">
                <div class="box">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image is-64x64">
                          {% if message.user.profile.image %}
                            <img class="rounded-circle account-img" src="{{ message.user.profile.image.url }}" alt="Placeholder image" width="96" height="96">
                          {% else %}
                            <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                          {% endif %}
                      </figure>
                    </div>
                    <div class="media-content">

                      <div class="content ">
                        <p>
                          <strong>{{ message.user.first_name }} {{ message.user.last_name }}</strong> <small>@{{ message.user.username }}</small>
                        </p>
                      </div>

                      <div class="content ">
                        {% if message.unread %}
                        <p style="font-weight: bold; color: red;">
                          <i class="material-icons">mark_chat_unread</i> {{ message.unread }}
                        </p>
                        {% endif %}        
                      </div>

                    </div>
                  </article>
                </div>
                </a>
                {% endfor %}

                  </ul>
                  </aside>
                <br>
                <a href="{% url 'usersearch' %}" class="btn btn-info" >search a specific user</a>

                </div>

                <div class="column col">

                <div style="overflow-y: scroll; height: 500px">

                {% for direct in directs %}
                <div class="box">
                  <article class="media">
                    <div class="media-left">
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <img class="rounded-circle account-img" src="{{ direct.sender.profile.image.url }}" height="44" width="44"><small>@{{ direct.sender.username }}</small> on: <strong><small>{{ direct.date|date:'N d G:i'}}</small></strong>
                        </p>
                        {{ direct.body }} 
                      </div>
                    </div>
                  </article>
                </div>
                {% endfor %}


                </div>


                <form role="form" method="POST" action="{% url 'send_direct' %}">
                  {% csrf_token %}
                <article class="media">
                  <figure class="media-left">
                    <p class="image is-64x64">
                      <img src="">
                    </p>
                  </figure>
                  <div class="media-content">
                    <input type="hidden" name="to_user" value="{{ active_direct }}">
                    <div class="field">
                      <p class="control">
                        <textarea class="textarea" name="body" placeholder="Write a message..."></textarea>
                      </p>
                    </div>
                    <nav class="level">
                      <div class="level-left">
                        <div class="level-item">
                          <button type="submit" name="action" class="btn btn-outline-info" >Send</buttom>
                        </div>
                      </div>
                    </nav>
                  </div>
                </article>
                </form>

                </div>
                </div>
                                    
                                  </div>
                                  
                                </div>
                                
                              </div>
              
            </section>
          <!--  <div class="wrapper overflow-hidden" id="wrapper">
          <section class="community-network">
            
             <ul class="map-marker">
                <li><img src="{% static 'media/banner/marker_1.png'%}" alt="marker"></li>
                <li><img src="{% static 'media/banner/marker_2.png'%}" alt="marker"></li>
                <li><img src="{% static 'media/banner/marker_3.png'%}" alt="marker"></li>
                <li><img src="{% static 'media/banner/marker_4.png'%}" alt="marker"></li>
                <li><img src="{% static 'media/banner/marker_5.png'%}" alt="marker"></li>
            </ul>
          
        </section>
      </div>-->
            <section class="banner-newsletter">
                <ul class="section-cloud">
                    <li>
                        <img src="{% static 'media/figure/cloud_1.png' %}" alt="shape">
                    </li>
                    <li>
                        <img src="{% static 'media/figure/cloud_2.png' %}" alt="shape">
                    </li>
                    <li>
                        <img src="{% static 'media/figure/cloud_2.png' %}" alt="shape">
                    </li>
                    <li>
                        <img src="{% static 'media/figure/cloud_1.png' %}" alt="shape">
                    </li>
                </ul>
                <div class="container">
                    <ul class="section-shape">
                        <li>
                        <img src="{% static 'media/figure/shape_1.png' %}" alt="shape">
                        </li>
                        <li>
                        <img src="{% static 'media/figure/shape_2.png' %}" alt="shape">
                        </li>
                        <li>
                        <img src="{% static 'media/figure/shape_3.png' %}" alt="shape">
                        </li>
                        <li>
                        <img src="{% static 'media/figure/shape_4.png' %}" alt="shape">
                        </li>
                        <li>
                        <img src="{% static 'media/figure/shape_5.png' %}" alt="shape">
                        </li>
                    </ul>
                </div>
            </section>
           <footer class="footer-wrap">
            
            <div class="main-footer">
                <div class="container">
                    <div class="row row-cols-lg-4 row-cols-sm-2 row-cols-1">
                        <div class="col">
                            <div class="footer-box">
                                <div class="footer-logo">
                                    <a href="{% url 'blog-home' %}"><img src="{% static 'media/logo_dark.png'%}" alt="Logo"></a>
                                </div>
                                <p>Dorem ipsum dolor sit amet consec adipisicing elit sed do eiusmod por incidiut labore et loreLorem ipsum kelly amieo dolorey.</p>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-lg-center">
                            <div class="footer-box">
                                <h3 class="footer-title">
                                    Important Links
                                </h3>
                                <div class="footer-link">
                                    <ul>
                                        <li><a href="{% url 'blog-home' %}">Home</a></li>
                                        <li><a href="{% url 'blog-about' %}">About us</a></li>
                                        <li><a href="{% url 'products' %}">Products</a></li>
                                        <li><a href="{% url 'services' %}">Services</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-lg-center">
                            <div class="footer-box">
                                <h3 class="footer-title">
                                    Community
                                </h3>
                                <div class="footer-link">
                                    <ul>
                                        <li><a href="{% url 'blog-home' %}">NewsFeed</a></li>
                                        <li><a href="{% url 'profile' %}">Profile</a></li>
                                      
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-lg-center">
                            <div class="footer-box">
                                <h3 class="footer-title">
                                    Social Media 
                                </h3>
                                <div class="footer-link">
                                    <ul>
                                        <li><a href="https://www.facebook.com/">facebook</a></li>
                                        <li><a href="https://twitter.com/">twitter</a></li>
                                        <li><a href="https://www.instagram.com/">instagram</a></li>
                                        <li><a href="https://www.youtube.com/">Youtube</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="footer-copyright">Copy© cirkle 2021. All Rights Reserved</div>
            </div>
        </footer>




        </div>
        <!-- Chat Modal Here -->
        <div class="chat-conversion-box" id="chat-box-modal" tabindex="-1" aria-labelledby="chat-modal-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title" id="chat-modal-label">Fahim Rahman <span class="online"></span></h6>
                        <div class="action-icon">
                            <button class="chat-shrink"><i class="icofont-minus"></i></button>
                            <button type="button" class="close chat-close chat-open" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="modal-body">
                        <ul class="chat-conversion">
                            <li class="chat-others">
                                <div class="author-img">
                                    <img src="{% static 'media/figure/chat_12.jpg'%}" alt="Chat">
                                </div>
                                <div class="author-text">
                                    <span>How are you Fahim vai ? Tommorow office will be your last day of Bachelor life.</span>
                                </div>
                            </li>
                            <li class="chat-you">
                                <div class="author-img">
                                    <img src="{% static 'media/figure/chat_11.jpg'%}" alt="Chat">
                                </div>
                                <div class="author-text">
                                    <span>hmm That's great</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Write your text here.....">
                                <div class="chat-plus-icon"><i class="icofont-plus-circle"></i></div>
                                <div class="file-attach-icon">
                                    <a href="#"><i class="icofont-slightly-smile"></i></a>
                                    <a href="#"><i class="icofont-camera"></i></a>
                                    <a href="#"><i class="icofont-image"></i></a>
                                    <a href="#"><i class="icofont-mic"></i></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


 <!-- Jquery Js -->
    <script src="{% static 'dependencies/jquery/js/jquery.min.js' %}"></script>
    <script src="{% static 'dependencies/popper.js/js/popper.min.js' %}"></script>
    <script src="{% static 'dependencies/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'dependencies/imagesloaded/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'dependencies/isotope-layout/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'dependencies/slick-carousel/js/slick.min.js' %}"></script>
    <script src="{% static 'dependencies/sal.js/sal.js' %}"></script>
    <script src="{% static 'dependencies/magnific-popup/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'dependencies/bootstrap-validator/js/validator.min.js' %}"></script>
    <script src="{% static 'dependencies/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBtmXSwv4YmAKtcZyyad9W7D4AC08z0Rb4' %}"></script>

    <!-- Site Scripts -->
    <script src="{% static 'assets/js/app.js' %}"></script>
</body>

</html>
{% endblock content %}