{% load static %}
{%  load crispy_forms_tags %}
{% block content %}

<!DOCTYPE html>
<html class="no-js" lang="">

<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cirkle | Password</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="media/favicon.png">
    <link rel="stylesheet" href="{% static 'dependencies/bootstrap/css/bootstrap.min.css'%} ">
    <link rel="stylesheet" href="{% static 'dependencies/icofont/icofont.min.css'%}">
    <link rel="stylesheet" href="{% static 'dependencies/slick-carousel/css/slick.css'%}">
    <link rel="stylesheet" href="{% static 'dependencies/slick-carousel/css/slick-theme.css'%}">
    <link rel="stylesheet" href="{% static 'dependencies/magnific-popup/css/magnific-popup.css'%}">
    <link rel="stylesheet" href="{% static 'dependencies/sal.js/sal.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'dependencies/select2/css/select2.min.css'%}" type="text/css">

    <!-- Site Stylesheet -->
    <link rel="stylesheet" href="{% static 'assets/css/app.css'%}">

    <!-- Google Web Fonts -->
    <link href="{% static 'https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,400&display=swap'%}" rel="stylesheet">

</head>

<body class="sticky-header">
  <header class="header">
            <div id="rt-sticky-placeholder"></div>
            <div id="header-menu" class="header-menu menu-layout1">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-2">
                            <div class="temp-logo">
                                <img src="{% static 'media/logo.png'%}" alt="Logo">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7 col-sm-7 col-8 d-flex justify-content-xl-start justify-content-center">
                            <div class="mobile-nav-item hide-on-desktop-menu">
                                <div class="mobile-toggler">
                                    <button type="button" class="mobile-menu-toggle">
                                        <i class="icofont-navigation-menu"></i>
                                    </button>
                                </div>
                                <div class="mobile-logo">
                                    <a href="index.html">
                                        <img src="{% static 'media/mobile_logo.png'%}" alt="Logo">
                                    </a>
                                </div>
                            </div>
                            <nav id="dropdown" class="template-main-menu">
                                <button type="button" class="mobile-menu-toggle mobile-toggle-close">
                                    <i class="icofont-close"></i>
                                </button>
                                <ul class="menu-content">
                                    <li class="header-nav-item">
                                    <a href="{% url 'blog-about' %}" class="menu-link active">About</a>
                                </li>
                                    <li class="header-nav-item">
                                       <a class="menu-link active" href="{% url 'blog-home' %}">Home</a>
                                    </li>
                                     <li class="header-nav-item">
                                        <a class="menu-link active" href="{% url 'products' %}">Products</a>
                                    </li>
                                    <li class="header-nav-item">
                                        <a class="menu-link active" href="{% url 'services' %}">Services</a>
                                    </li>
                                      <!-- Navbar Right Side -->
                        {% if user.is_authenticated %}
                         <li class="header-nav-item">
                        <a class="menu-link active" href="{% url 'inbox' %}"><i class="icofont-speech-comments"></i>Inbox{% if directs_count %} <span class="badge" style="background-color: red;">{{ directs_count }}</span>{% endif %}</a>
                        </li>
                         
                         <li class="header-nav-item">
                        <a class="menu-link active" href="{% url 'profile' %}">Profile</a>
                        </li>
                         <li class="header-nav-item">
                        <a class="menu-link active" href="{% url 'logout' %}">Logout</a>
                        </li>
                        {% else %}
                         <li class="header-nav-item">
                           <a class="menu-link active" href="{% url 'login' %}">Login</a>
                        </li>
                         <li class="header-nav-item">
                           <a class="menu-link active" href="{% url 'register' %}">Register</a></div>
                        </li>
                        {% endif %}
                                       
                        </ul>
                        </nav>
                        </div>
                        <!--<div class="col-xl-4 col-lg-3 col-sm-5 col-4 d-flex justify-content-end">
                            
                        </div>-->
                    </div>
                </div>

            </div>
        </header>
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <a href="#wrapper" data-type="section-switch" class="scrollup">
        <i class="icofont-bubble-up"></i>
    </a>
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <div id="wrapper" class="wrapper overflow-hidden">

        <!--=====================================-->
        <!--=          Header Menu Start        =-->
        <!--=====================================-->
        <div class="login-page-wrap">
            <div class="content-wrap">
                <div class="login-content">
                    <div class="item-logo">
                        <br>
                    </div>
      <div class="tab-content">
      <div class="content-section">
          <form method="POST">
              {% csrf_token %}
              <fieldset class="form-group">
                  <legend class="border-bottom mb-4">Reset Password</legend>
                  {{ form|crispy }}
              </fieldset>
              <div class="form-group">
                  <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
              </div>
          </form>
      </div>
    </div>
<div class="map-line">
                    <img src="{% static 'media/banner/map_line.png'%}" alt="map">
                    <ul class="map-marker">
                        <li><img src="{% static 'media/banner/marker_1.png'%}" alt="marker"></li>
                        <li><img src="{% static 'media/banner/marker_2.png'%}" alt="marker"></li>
                        <li><img src="{% static 'media/banner/marker_3.png'%}" alt="marker"></li>
                        <li><img src="{% static 'media/banner/marker_4.png'%}" alt="marker"></li>
                    </ul>
                </div>
            </div>
        </div>

        <!--=====================================-->
        <!--=      Header Search Start          =-->
        <!--=====================================-->
        <div id="header-search" class="header-search">
            <button type="button" class="close">×</button>
            <form class="header-search-form">
                <input type="search" value="" placeholder="Search here..." />
                <button type="submit" class="search-btn">
                    <i class="flaticon-search"></i>
                </button>
            </form>
        </div>
    </div>
    <!-- Jquery Js -->
    <script src="{% static 'dependencies/jquery/js/jquery.min.js' %}"></script>
    <script src="{% static 'dependencies/popper.js/js/popper.min.js' %}"></script>
    <script src="{% static 'dependencies/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'dependencies/imagesloaded/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'dependencies/isotope-layout/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'dependencies/slick-carousel/js/slick.min.js' %}"></script>
    <script src="{% static 'dependencies/sal.js/sal.js' %}"></script>
    <script src="{% static 'dependencies/magnific-popup/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'dependencies/bootstrap-validator/js/validator.min.js' %}"></script>
    <script src="{% static 'dependencies/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBtmXSwv4YmAKtcZyyad9W7D4AC08z0Rb4' %}"></script>

    <!-- Site Scripts -->
    <script src="{% static 'assets/js/app.js' %}"></script>
</body>

</html>
{% endblock content %}

